/* instellingen */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;

}

/* hoofding */
header {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    height: 50px;
}

header nav ul {
    text-align: center;
}

header nav li {
    display: inline-block;
}

header a {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
}

/* vormgeving classes */

.flex-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    flex-flow: row wrap;
}


#Lid {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


header input {
    width: 7rem;
    padding: 0.5rem;
    height: 2rem;
}

img {
    width: 350px;
    height: 350 px;
    display: block;
    margin: 0 auto
}

.invert {
    filter: invert(1);
}

.yellow {
    color: gold;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 4rem;
    max-height: 100vh;
}

video {
    width: 100%;
}


.flex-item {
    flex: 1;
}

h2 {
    text-align: center;
    padding: 5%;
    text-decoration: underline;
    text-underline-offset: 2rem;
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    background-color: black;
    color: white;
    height: 3rem;

}

footer {
    padding: 20px;
    background-color: black;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

footer .flex-container {
    align-items: start;
    text-align: left;
}

footer li:first-child {
    margin-bottom: 1.5rem;
}

footer li {
    list-style: none;
    color: white;
}

footer li:first-child {
    color: gold;
    font-weight: 700;
    text-transform: uppercase;
}

footer input[type="email"],
footer input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

footer input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
}

footer input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.invert {
    width: 125px;
    height: 125px;
}

.social-icons {
    display: flex;
    justify-content: center;


}

.social-icons a {
    color: white;
    font-size: 2rem;
    padding: 0 0.5rem;
}

footer i:hover {
    transform: scale(1.5);


}